<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_provider.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service_provider.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @service_provider.website %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @service_provider.hours %>
</p>

<%= link_to 'Edit', edit_service_provider_path(@service_provider) %> |
<%= link_to 'Back', service_providers_path %>
